body{
	margin: 0;
}

.header{
	box-shadow: 0    /*h-offset (horizontal)*/
			    1px  /*v-offset (vertical)*/
				12px /*blur     (difuminado)*/
				-2px /*spread   (difusión)*/
				#dedede;/*color*/
			    
	height: 80px; /*Ancho header*/
	display: flex;
	align-items: center;
}

.header img {
	height: 70px;
	margin-left: 50px;
}

footer img {
	width: 490px;
	height: 164px;
}
footer{
	display: flex;
	justify-content: center;
}

section{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.article{
	width: 600px;
	padding: 10px;
}

.background{
	background-color: #e8f3ec;

}

#juego {
	opacity: 0.3;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}


td > img {
	width: 123px;
	height: 148px;
	border-radius: 8px;
}

input {
	width: 90px;
	height: 30px;
	margin: 15
}


